<!doctype html>
<html style="height: 100%;">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {# Bootstrap4を使う #}
 <!-- linkタグでbootstrapのcssファイルを読み込む -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 <!-- linkタグでDataTableのcssファイルを読み込む -->
 <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
 <!-- タイトルの設定-->
<title>インタラクティブ五七五</title>
</head>
<body style="height: 100%; overflow-y: scroll;">
<!--　▼ ジャンボトロン　 -->
<div class="jumbotron text-center" style="background:url(../../static/haisen/japanese-style_00002.jpg); 
            background-size: cover; background-position: center; height: 100%;">
      <div class="h-100 justify-content-center align-items-center">
      <p><h1 style="color: #ffffff; opacity: 1.0; text-shadow:0 0 7px #0b0b0b;">インタラクティブ<br class="d-lg-none">五七五</h1></p>
      <p>
      {% block content %}
      <!-- block content ～ endblockの間に子テンプレートの内容が差し込まれる -->
      {% endblock %}
      </p>
      </div>
</div>

 <!-- bootstrapのjavascript読み込み-->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
 <!-- DataTablesのjavascript読み込み-->
 <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
 <!-- chart.jsの読み込み -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

</div>
</body>
</html>
