{% extends 'haisen/base.html' %}
{% block content %}

 <div class="content-wrapper">
   <div class="container-fluid">
    <form action="{% url 'haisen:finished_work' %}" method="post">
     <!-- Example DataTables Card-->
     <div class="card mb-3">
      <!--
      <div class="card-header">
        <i class="fa fa-server"></i> <h3>中七選択と下五入力</h3></div>-->
       <div class="card-body">
        <p>
          <label>
          <input type="radio" name="haisen" value="{{total1}}" required>{{total1}}
          </label>
        </p>
        <p>
          <label>
          <input type="radio" name="haisen" value="{{total2}}">{{total2}}
          </label>
        </p>
        <p>
          <label>
          <input type="radio" name="haisen" value="{{total3}}">{{total3}}
          </label>
        </p>
        <label for="text1">下五を入力する:</label>
        <input type="text" name="text1" class="form-control" required style="text-align: center;">
     </div>
     </div>
     </div>
     <!-- 遷移するボタン-->
     <p><button class="btn btn-primary" type="submit" style="width:150px">川柳を完成させる</button></p>
      {% csrf_token %}
    <!-- formタグを閉じる -->
    </form>
     <p><a class="btn btn-dark" style="width:150px" 
      href="{% url 'haisen:haisen_create' %}" role="button">上五の入力に戻る</a></p>
    
     <p><a class="btn btn-success" style="width:150px" 
      href="{% url 'haisen:haiku_create' %}" role="button">俳句風に切り替える</a></p>

{% endblock content %}