<!doctype html>
{% load static %}
<html style="height: 100%;">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {# Bootstrap4を使う #}
 <!-- linkタグでbootstrapのcssファイルを読み込む -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 <!-- linkタグでDataTableのcssファイルを読み込む -->
 <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
 <link rel="stylesheet" href="{% static 'css/test.css' %}">
 <!-- タイトルの設定-->
<title>インタラクティブ五七五</title>
</head>
<body style="height: 100%; overflow-y: scroll;">

<!--　▼ ジャンボトロン　 -->
<div class="jumbotron" style="background:url({% static 'haisen/japanese-style_00002.jpg' %}); 
            background-size: cover; background-position: center; height: 100%;">

<form action="{% url 'haisen:registration' %}" method="post">
<div class="mx-auto" style="width: 200px;">
    <section class="ikku" style="writing-mode: vertical-rl;">
    <p>
        <font>{{kami5}}</font>
    </p>
    <p style="padding-top: 3em;">
        <font>{{naka7}}</font>
    </p>
    <p style="padding-top: 9em;">
        <font>{{shimo5}}</font>
    </p>
    </section>
    <label for="name" style="color:white; text-align:center; display: block;">ペンネームを入力する:</label>
    <input type="text" name="name" class="form-control" style="text-align: center;">
</div>
<div class="center" style="text-align:center;">
    <br>
    <button class="btn btn-success" type="submit" name="work" value="{{work}}" style="width:170px">作品を登録する</button>
    <a class="btn btn-dark" style="width:170px" 
        href="{% url 'haisen:haisen_create' %}" role="button">上五の入力に戻る</a>
</div>
{% csrf_token %}
<!-- formタグを閉じる -->
</form>

