{% extends 'haisen/base.html' %}
{% load bootstrap %}
{% block content %}

 <!-- formタグを設定し、postメソッドを指定 -->
 <form method="post">
   <div class="container">
     <div class="row">
       <div class="col-12">
         <div class="content-wrapper">
           <div class="container-fluid">
             <!-- Breadcrumbs-->
             <ol class="breadcrumb">
               <li class="breadcrumb-item">
                 <a href="{% url 'haisen:haisen_create' %}">川柳風に切り替え</a>
               </li>
               <li class="breadcrumb-item active">インタラクティブ五七五</li>
               <li class="breadcrumb-item active">上五入力</li>
             </ol>
             <!-- Example DataTables Card-->
             <div class="card mb-3">
               <div class="card-header">
                 <i class="fa fa-server"></i> <h3>上五入力（俳句風）</h3></div>
               <div class="card-body">          {{ form|bootstrap }}
       </div>
     </div>
     <div class="row">
       <div class="col-12">
         <!-- データ保存ボタンを設定 -->
         <button class="btn btn-primary">中七の生成</button>
       </div>
     </div>
   </div>
   {% csrf_token %}
         <!-- formタグを閉じる -->
 </form>
{% endblock %}
