{% extends 'haisen/base.html' %}
{% block content %}

 <div class="content-wrapper">
   <div class="container-fluid">
    <form action="{% url 'haisen:finished_work' %}" method="post">
     <!-- Example DataTables Card-->
     <div class="card mb-3">

       <div class="card-body">
        <p>
          <label>
          <input type="radio" name="haisen" value="{{total1}}" required>{{total1}}
          </label>
        </p>
        <p>
          <label>
          <input type="radio" name="haisen" value="{{total2}}">{{total2}}
          </label>
        </p>
        <p>
          <label>
          <input type="radio" name="haisen" value="{{total3}}">{{total3}}
          </label>
        </p>
        <label for="text1">下五を入力する:</label>
        <input type="text" name="text1" class="form-control" required style="text-align: center;">
      <!--
        <div class="radio">
          <input type="radio" name="haisen" id="radio-01" value="{{total1}}" required>
          <label for="radio-01">{{total1}}</label><br>
          <input type="radio" name="haisen" id="radio-02" value="{{total2}}">
          <label for="radio-02">{{total2}}</label><br>
          <input type="radio" name="haisen" id="radio-03" value="{{total3}}">
          <label for="radio-03">{{total3}}</label><br>
      </div> -->
        <!--
         <p>
          <font size="20" face="游明朝体">{{total1}}</font>
         </p>
         <p>
           <font size="20" face="游明朝体">{{total2}}</font>
         </p>
         <p>
           <font size="20" face="游明朝体">{{total3}}</font>
         </p>
        -->
       </div>
     </div>
     <!-- 遷移するボタン-->
     <p><button class="btn btn-primary" type="submit" style="width:150px">俳句を完成させる</button></p>
     <!--
     <p><a class="btn btn-primary" style="width:150px" 
      href="{% url 'haisen:haiku_create' %}" role="button">俳句を完成させる</a></p>-->
      {% csrf_token %}
    <!-- formタグを閉じる -->
    </form>

     <p><a class="btn btn-dark" style="width:150px" 
      href="{% url 'haisen:haiku_create' %}" role="button">上五の入力に戻る</a></p>
     <p><a class="btn btn-success" style="width:150px" 
      href="{% url 'haisen:haisen_create' %}" role="button">川柳風に切り替える</a></p>

{% endblock content %}