<!doctype html>
<html style="height: 100%;">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {# Bootstrap4を使う #}
 <!-- linkタグでbootstrapのcssファイルを読み込む -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 <!-- linkタグでDataTableのcssファイルを読み込む -->
 <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
 <!-- タイトルの設定-->
<title>インタラクティブ五七五</title>
</head>
<body style="height: 100%; overflow-y: scroll;">

<!--　▼ ジャンボトロン　 -->
 <div class="content-wrapper">
   <div class="container-fluid">
     <!--ページタイトル-->
<div class="container">
     <div class="row">
          <div class="col-md-6 col-md-offset-3">
               <h2 class="text-center">アプリに関する注意点</h2>
               この度は、インタラクティブ五七五をご使用いただき誠にありがとうございます。<br><br>
               このアプリには、五七五の作品を登録・閲覧する機能がございます。登録する際の注意点は下記の通りです。
               <br><br>
               <ol>
                    <li>作品およびペンネームは、不特定多数の人に閲覧される可能性があること</li>
                    <li>作品は、ペンネームを伏せた上で研究に用いる場合があること</li>
                    <li>作品は、予告なくアプリ上から削除される場合があること</li>
               </ol>
               以上の点についてご同意いただける場合は、是非作品を登録していただけますと幸いです。
          </div>
     </div>
<br>
<p class="text-center"><a class="btn btn-dark" style="width:170px" 
        href="{% url 'haisen:haisen_create' %}" role="button">上五の入力に戻る</a></p>
   </div>
  </div>